<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Irvin Sivya's Accomplishments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    {% include 'header.html' %}

    <section class="accomplishments-section">
        <div class="container">
            <h2 class="section-title">My Accomplishments</h2>

            {% if accomplishments is not none %}
                {% for accomplishment in accomplishments %}
                <div class="card">
                    <img src="{{ url_for('static', filename='images/accomplishments/' + accomplishment.image)}}" alt="Accomplishment"
                        class="card-image">
                    <div class="card-content">
                        <h3 class="card-title">{{accomplishment.title}}</h3>
                        <p class="card-description">
                            {{accomplishment.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

        </div>
    </section>

    {% include 'footer.html' %}

</body>

</html>