<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Irvin Sivya</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  {% include 'header.html' %}

  <section class="hero">
    <div class="container hero-content">
      <div class="hero-text">
        <p class="subtext">THIS IS ME</p>
        <h1>IRVIN SIVYA</h1>
        <p class="description">
          Hello!
        </p>
        <a href="#footer" class="btn-primary">Connect</a>
      </div>
      <div class="hero-image">
        <img src="{{ url_for('static', filename='images/irvin_laughing.png') }}" alt="Profile Picture">
      </div>
    </div>
  </section>

  {% include 'footer.html' %}

</body>

</html>